.navigation {
    width: 250px;
    height: 750px;

    background-color: #181a26;
    box-shadow: 1.5px -1.5px rgba(255, 255, 253, 0.1);
    border-radius: 30px;
    

    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation header {
    height: 150px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #fffffd;

    line-height: 0.95;
}

.navigation header .logo {
    font-size: 5em;
}

.navigation header h1 {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
}

.navigation ul {
    width: 100%;
    height: 400px;

    position: relative;

    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 10px;

    /* border-bottom: rgba(255, 255, 253, 0.1) 2px solid; */
}

.navigation ul li {
    position: relative;

    width: 100%;
    height: 55px;
    padding: 0 25px;

    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    transform: 0.5s;
}

/* .navigation .indicator-bg {
    width: 100%;
    height: 55px;

    position: absolute;
    top: 0;

    z-index: 0;

    background-image: linear-gradient(to right,rgba(255, 255, 253, 0.25), transparent);

    transition: 0.5s;
} */

.navigation ul li a {
    position: relative;

    color: #fffffd;

    display: flex;
    align-items: center;

    text-decoration: none;
}

.navigation ul li .icon {
    font-size: 1.5em;

    display: block;

    padding-top: 5px;
}

.navigation ul li a .text {
    font-size: 0.75em;

    padding: 0 20px;
}

.navigation ul li .rub {
    background-color: #f94467;
    border-radius: 10px;
    color: #fffffd;

    font-size: 0.75em;
    font-weight: 600;
    
    padding: 1px 5px;
    z-index: 2;
    
    position: relative;

    justify-self: flex-end;
    display: flex;
    gap: 1px;
    justify-content: center;
    align-items: center;
}

.navigation ul li .rub .icon{
    font-size: 1em;

    display: inline;
}

.navigation ul li .new {
    color: #3e76f1;
    font-size: 0.5em;

    padding-top: 5px;
}

.navigation .indicator {
    position: absolute;
    top: 0px;
    
    background-color: #fffffd;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    
    height: 55px;
    width: 5px;
    z-index: 1;

    transition: 0.5s;
}

.navigation ul li:nth-child(1).active ~ .indicator ,
.navigation ul li:nth-child(1).active ~  .indicator-bg{
    transform: translateY(calc((55px + 10px) * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator ,
.navigation ul li:nth-child(2).active ~  .indicator-bg {
    transform: translatey(calc((55px + 10px) * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator ,
.navigation ul li:nth-child(3).active ~  .indicator-bg {
    transform: translatey(calc((55px + 10px) * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator ,
.navigation ul li:nth-child(4).active ~  .indicator-bg {
    transform: translatey(calc((55px + 10px) * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator ,
.navigation ul li:nth-child(5).active ~  .indicator-bg {
    transform: translatey(calc((55px + 10px) * 4));
}
.navigation ul li:nth-child(6).active ~ .indicator ,
.navigation ul li:nth-child(6).active ~  .indicator-bg {
    transform: translatey(calc((55px + 10px) * 5));
}

.navigation .border-bottom {
    height: 2px;
    width: 75%;

    background-color:#fffffd;
    opacity: 0.1;

    align-self: center;
}

.navigation .history-box {
    height: 140px;
    width: 80%;
    margin-top: 30px;
    padding: 0 25px;

    background-color: #202430;
    color: #fffffd;
    border-radius: 25px;
    border-top: rgba(255, 255, 253, 0.1) 1px solid;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.navigation .history-box .history-box-header {
    display: flex;
    justify-content: space-between;
    
    font-size: 1.5em;
    line-height: 0em;
}

.navigation .history-box h4 {
    font-weight: 400;
    letter-spacing: 0.5px;
}

.navigation .history-box p {
    font-size: 0.8em;
    font-weight: 200;
}
